*{margin: 0;
	padding: 0;
	}
body
{
	background: url(images/fon.jpg);
}
menu
{
	width: 100%; 
	margin: auto;
	height: 102px;
	background: url(images/menu-fon.jpg);
}
nav
{
	width: 830px;
	margin: auto;
}
menu ul li
{
	display: block;
	float: left;
	margin: 1.5em;

}
menu ul li a
{
	color: #CFFCFF;
	padding: 0.5em;
	border: 1px solid transparent;
	font-size: 1.5em:;
	font-size: 23px;
}
a
{
	text-decoration: none;
}
menu ul li a:hover
{
border: 1px solid white;
color: #F9CFF6;
border-radius: 5px;
}
menu ul li a span
{
color: blue;
}
footer
{
	width: 100%; 
	margin: 0;
	height: 145px;
	background: url(images/footer-fon.jpg);
	position: absolute;
	bottom: 0;
}

input[type="text"]
{
	/*background: transparent;
	color: rgba(0,0,0,07);
	border: 0;*/
}
input
{
	outline: none;
}
.box
{
	width: 400px;
	height: 200px;
	background: #2C1D11;
	margin: 60px auto;
	border-radius: 20px 20px 20px 20px;
}
.box1
{
	width: 200px;
	height: 200px;
	background: #2C1D11;
	margin: 60px auto;
}
.box2
{
	width: 200px;
	height: 200px;
	background: #2C1D11;
	margin: 80px;
}
.forum
{
	margin: 60px auto;
}
p
{
	color: #CFFCFF;
}
